* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: #000;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
header {
    background: #e5e5e5;
}
header .header .img-logo {
    width: 70px;
}
header .header .img-logo img {
    width: 100%;
    object-fit: contain;
}
header .header,
header .header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
header .header nav ul li a {
    position: relative;
    padding: 10px 15px;
    display: block;
}
header .header nav ul li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: calc(100% - 30px);
    height: 3px;
    background-color: #000;
    opacity: 0;
    transform: translateX(-50%);
    transition: all .3s;
}
header .header nav ul li a:hover::before {
    opacity: 1;
}
section {
    margin-top: 60px;
}

/* .aboutUs .aboutUsBlock .info-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.aboutUs .aboutUsBlock .info-block .block {
    width: calc(50% - 30px);
} */

.aboutUs .aboutUsBlock .info-block,
.news .newsBlock .info-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.aboutUs .aboutUsBlock .info-block .block img {
    width: 100%;
    border-radius: 10px;
}
.news .newsBlock .info-block .block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e5e5e5;
    padding: 20px;
    border-radius: 10px
}
.news .newsBlock .info-block .block .img-news {
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin-right: 30px;
    border-radius: 10px;
}
.news .newsBlock .info-block .block .img-news img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.news .newsBlock .info-block .block .text-news {
    flex: 1;
}
footer {
    margin-top: 50px;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}
footer .footer {
    padding: 50px 0;
}
footer a {
    color: #fff;
}
footer .footer .info-block {
    display: flex;
    justify-content: space-between;
}
footer .footer .info-block .block:hover i {
    color: red;
}
footer .footer .info-block .block i {
    transition: all .3s;
    margin-right: 10px;
}